@import "tailwindcss";

/*  A4 PERFECT FIX */
#print-area, #invoice {
  width: 794px !important;
  height: 1123px !important;
  overflow: hidden;
}

/* REMOVE ANY TRANSFORM DURING PRINT */
@media print {
  #invoice {
    transform: scale(1) !important;
  }
}